    
    * {
    box-sizing: border-box;
    }
    
    ul {
        margin: 0;
        padding: 0;
    }
    
    /* Lista de tareas par */
    ul li {
        cursor: pointer;
        position: relative;
        padding: 10px 8px 8px 20px;
        background: lightgrey;
        transition: 0.2s;
    
    }
    
    /* Lista de tareas impar */
    ul li:nth-child(odd) {
        background-color: rgb(51, 102, 168);
        color: #fff;
    }
    
   /* Lista de tareas puntero */
    ul li:hover {
        background-color: rgb(19, 50, 80);
        color: #fff;
    }
    
    /* Tarea acabada*/
    ul li.checked {
        background: #000000;
        color: #fff;
        text-decoration: line-through;
    }
    
    input {
        margin: 0;
        border: none;
        border-radius: 0;
        width: 75%;
        padding: 10px;
        float: left;
        font-size: 16px;
    }
    
    /* Cabecera lista*/
    .header {
        background-color: #08323d;
        padding: 70px 40px;
        color: white;
        
    }


    
    /*Añadir tarea. ver como implementar*/
    .añadirBoton {
        padding: 9.3px;
        width: 20%;
        background: #b3b3b3;
        color: #000000;
        float: left;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
        transition: 0.3s;
        border-radius: 0;
    }
    
    .añadirBoton:hover{
        background-color: #000000;
        color: #b3b3b3;
    }